{% extends 'base.html.twig' %}

{% block header %}
Proveedores
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}

<form class="form-horizontal" action="{{path('proveedor_index')}}" method="GET">
  <div class="row"> 
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 500px;">
              <input id="btn-input" type="text" class="form-control input-sm" 
                 name="texto" placeholder="Buscar por Nombre/Documento/Email/Contacto" value="{{texto}}"/>
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  <a type="button" class="btn btn-primary btn-md" href="{{ path('proveedor_new') }}"><i class="fa fa-plus"></i> Nuevo</a>
              </span>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
              <tr>
                  <th>Nombre</th>
                  <th>Tipo Documento</th>
                  <th>Número Documento</th>
                  <th>Condición Iva</th>
                  <th>Localidad</th>
                  <th>Dirección</th>
                  <th>Teléfono</th>
                  <th>Contacto</th>
                  <th>Acciones</th>
              </tr>
            <tbody>
            {% for proveedor in pagination %}
                <tr>
                  <td>{{ proveedor.nombre }}</td>
                  <td>{{ proveedor.documentoTipo }}</td>
                  <td>{{ proveedor.documentoNumero }}</td>
                  <td>{{ proveedor.ivaCondicion }}</td>
                  <td>{{ proveedor.localidad }}</td>
                  <td>{{ proveedor.direccion }}</td>
                  <td>{{ proveedor.telefono }}</td>
                  <td>{{ proveedor.contacto }}</td>  
                  <td>
                      <a href="{{ path('proveedor_show', { 'id': proveedor.Id }) }}"><span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a href="{{ path('proveedor_edit', { 'id': proveedor.Id }) }}"><span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a href="{{ path('proveedor_delete', { 'id': proveedor.Id }) }}" onclick="return confirm('¿Está Seguro?')"><span class="glyphicon glyphicon-remove-sign"></span>
                      </a>
                      <a href="{{ path('ordenpago_proveedor_new', { 'proveedor': proveedor.Id }) }}"><span class="glyphicon glyphicon-usd"></span>
                  </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block paginador %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}