{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proveedors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Documentotipo</th>
                <th>Documentonumero</th>
                <th>Ivacondicion</th>
                <th>Localidadid</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Contacto</th>
                <th>Activo</th>
                <th>Createdby</th>
                <th>Createdat</th>
                <th>Updatedby</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proveedor in proveedors %}
            <tr>
                <td><a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">{{ proveedor.id }}</a></td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.documentoTipo }}</td>
                <td>{{ proveedor.documentoNumero }}</td>
                <td>{{ proveedor.ivaCondicion }}</td>
                <td>{{ proveedor.localidadId }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.email }}</td>
                <td>{{ proveedor.contacto }}</td>
                <td>{% if proveedor.activo %}Yes{% else %}No{% endif %}</td>
                <td>{{ proveedor.createdBy }}</td>
                <td>{% if proveedor.createdAt %}{{ proveedor.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ proveedor.updatedBy }}</td>
                <td>{% if proveedor.updatedAt %}{{ proveedor.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('proveedor_edit', { 'id': proveedor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proveedor_new') }}">Create a new proveedor</a>
        </li>
    </ul>
{% endblock %}
