{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sucursal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sucursal.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sucursal.nombre }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if sucursal.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ sucursal.createdBy }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if sucursal.createdAt %}{{ sucursal.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ sucursal.updatedBy }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if sucursal.updatedAt %}{{ sucursal.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sucursal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sucursal_edit', { 'id': sucursal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
