{% extends 'base.html.twig' %}

{% block header %}
Parámetro
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-user"></i> Datos de Parametro</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th style="width:10%">Codigo</th>
                                <td>{{ parametro.codigo }}</td>
                            </tr>
                            <tr>
                                <th>Descripcion</th>
                                <td>{{ parametro.descripcion }}</td>
                            </tr>
                            <tr>
                                <th>Valor Texto</th>
                                <td>{{ parametro.valorTexto }}</td>
                            </tr>
                            <tr>
                                <th>Valor Nro</th>
                                <td>{{ parametro.valorNro }}</td>
                            </tr>
                            <tr>
                                <th>Valor Importe</th>
                                <td>{{ parametro.valorImporte }}</td>
                            </tr>
                            <tr>
                                <th>Activo</th>
                                <td>{% if parametro.activo %}
                                  <span class="label label-success">Activo</span>
                                {% else %}
                                  <span class="label label-danger">Inactivo</span>
                                {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-success">
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a href="{{ path('parametro_index') }}" class="btn btn-app">
                                <i class="fa fa-arrow-left"></i> Volver
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a href="{{ path('parametro_edit', { 'id': parametro.Id }) }}" class="btn btn-app pull-right"><span class="glyphicon glyphicon-edit"></span> Editar
                             </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
    </div> 
</div>
{% endblock %}
