<body style="font-family:Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Geneva, Arial, Sans-serif;font-size:8pt">
{% for pagina_nro in 1..1 %}
    <table width="100%" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td width="40%" align="center">
                <img width="60" height="60" src="{{ asset('img/logooptica.jpg')}}"><br>
                <b>OPTICA CONTINI</b><br>
                <br>
                <b> Mas de 70 años a la vista </b>
            </td>
            <td width="20%" align="center">
                <span style="font-size:28pt"><b>X</b></span>
                <br>
                Documento No Válido<br>
                Como Factura
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <hr>
    &nbsp;<br>

    <table width="100%" cellspacing="0" border="0">
        <tbody>
        <tr>
            <td width="60%"><b>Cliente:</b> {{presupuesto.cliente.nombre}}</td>
            <td width="60%"><b>Telefono:</b> {{presupuesto.cliente.telefono}}</td>

        </tr>
        <tr>
            <td width="60%"><b>Fecha Presupuesto:</b> {{ presupuesto.fechaPresup  | date('d-m-Y')}}</td>
            <td width="60%"><b>Plazo Entrega:</b> {{ presupuesto.plazoEntrega}}</td>
        </tr>
        <tr>
            <td width="60%"><b>Retiro:</b> {{ presupuesto.retiro}}</td>
            <td width="60%"><b>Moneda:</b> {{ presupuesto.moneda}}</td>
        </tr>
        <tr>
            <td width="60%"><b>Forma Pago:</b> {{ presupuesto.formaPago}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table width="100%" cellspacing="0" cellpadding="5" border="1" style="font-size:7pt">
        <tbody>
        <tr>
            <td style="text-align: center" width="40%"><b>Artículo</b></td>
            <td style="text-align: center" width="15%">Cantidad</td>
            <td style="text-align: center" width="15%">P. Unitario</td>
            <td style="text-align: center" width="15%">Bonificación</td>
            <td style="text-align: center" width="15%">Total Detalle</td>
        </tr>
        {% for presupuestoDetalle in presupuestodetalles %}
            <tr>
                <td style="text-align: center">{{ presupuestoDetalle.articulo.descripcion}}</td>
                <td style="text-align: center">{{ presupuestoDetalle.cantidad }}</td>
                <td style="text-align: center">{{ presupuestoDetalle.precioUnit }}</td>
                <td style="text-align: center">{{ presupuestoDetalle.importeBonificacion }}</td>
                <td style="text-align: center">{{ presupuestoDetalle.totalDetalle }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    &nbsp;<br>

    <br>
    <br>
    <b>Totales</b><br>
    <br>
    <table width="100%" cellspacing="0" cellpadding="5" border="1" style="font-size:7pt">

        <tbody>
        <tr>
            <td style="text-align: center" width="40%">Total</td>
            <td style="text-align: center" width="15%">Iva</td>
            <td style="text-align: center" width="15%">Total Presupuesto</td>
        </tr>
            <tr>
                <td style="text-align: center">{{ presupuesto.total }}</td>
                <td style="text-align: center">{{ presupuesto.iva21 }}</td>
                <td style="text-align: center">{{ presupuesto.totalPresupuesto }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    &nbsp;<br>
    {#
    {% if loop.index < 2 %}
        <p style="page-break-after: always; text-align: right;font-size:10pt;">_</p>
    {% endif %}
    #}
{% endfor %}
</body>