{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedido</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pedido.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if pedido.fecha %}{{ pedido.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ pedido.numero }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ pedido.total }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ pedido.observaciones }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if pedido.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if pedido.createdAt %}{{ pedido.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if pedido.updatedAt %}{{ pedido.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedido_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
