{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th>Password</th>
                <th>Activo</th>
                <th>Email</th>
                <th>Ultimologin</th>
                <th>Cantidadlogin</th>
                <th>Createdby</th>
                <th>Createdat</th>
                <th>Updatedby</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.password }}</td>
                <td>{% if usuario.activo %}Yes{% else %}No{% endif %}</td>
                <td>{{ usuario.email }}</td>
                <td>{% if usuario.ultimoLogin %}{{ usuario.ultimoLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ usuario.cantidadLogin }}</td>
                <td>{{ usuario.createdBy }}</td>
                <td>{% if usuario.createdAt %}{{ usuario.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ usuario.updatedBy }}</td>
                <td>{% if usuario.updatedAt %}{{ usuario.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Create a new usuario</a>
        </li>
    </ul>
{% endblock %}
