{% extends 'base.html.twig' %}

{% block header %}
Gastos
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}
<form id="myform" action="{{ path('informe_gastos') }}" method='POST'>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-user"></i> Datos Generales</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-6 col-lg-2">
                            <label class="control-label" for="fecha">Fecha Desde</label>
                            <input type="text" id="fecha_desde" name="fecha_desde" class="js-datepicker form-control" autocomplete="off" value="{{ fecha_desde | date('d-m-Y')}}">
                        </div>  
                        <div class="col-xs-6 col-lg-2">
                            <label class="control-label" for="fecha">Fecha Hasta</label>
                            <input type="text" id="fecha_hasta" name="fecha_hasta" class="js-datepicker form-control" autocomplete="off" value="{{ fecha_hasta | date('d-m-Y')}}">
                        </div>
                        <div class="col-xs-6 col-lg-2">
                            <label class="control-label">Sucursal</label>
                            <select class="form-control" id="sucursal" name="sucursal">
                                <option value="0" selected = "selected">Todas</option>
                                {% for sucursal in sucursales %}
                                    <option value="{{sucursal.id}}" {% if sucursal_id == sucursal.id %} selected {%endif%}> {{sucursal.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {#
                        <div class="col-xs-4 col-lg-2">
                            <label class="control-label">Vendedor/Usuario</label>
                            <select class="form-control" id="usuario" name="usuario">
                                <option value="" selected = "selected"> </option>
                                {% for usuario in usuarios %}
                                    <option value="{{usuario.id}}"> {{usuario.nombre}} {{usuario.apellido}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        #}
                        <div class="col-xs-6 col-lg-2">
                            <br/>
                            <button id="submit" type="submit" class="btn btn-default">Buscar <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <div class="box box-success">
                <div class="box-body">
                    <div id="div_chart_gastos_categoria"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="box box-success">
                <div class="box-body">
                    <div id="div_chart_gastos_sucursal"></div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_draw(gastosXCategoria, 'div_chart_gastos_categoria') }}
    {{ gc_draw(gastosXSucursal, 'div_chart_gastos_sucursal') }}
</script>
{% endblock %}

