{% extends 'base.html.twig' %}

{% block header %}
Orden de Trabajo
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}

<form class="form-horizontal" action="{{path('ordentrabajo_index')}}" method="GET">
  <div class="row"> 
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 500px;">
              <input id="btn-input" type="text" class="form-control input-sm" 
                 name="texto" placeholder="Buscar por Nombre/Documento/Email/Contacto" value=""/>

              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  <a type="button" class="btn btn-primary btn-md" href="{{ path('ordentrabajo_new') }}"><i class="fa fa-plus"></i> Nuevo</a>
              </span>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
                <tr>
                    <th>ID<th>
                    <th>Cliente</th>
                    <th>Referencia</th>
                    <th>Observaciones</th>
                    <th>Taller</th>
                    <th>Dias Estimados</th>
                    <th>Estado</th>
                    <th style="width: 5%">Acciones</th>
                </tr>
            <tbody>
            {% for ordenTrabajo in ordenTrabajos %}
                <tr>
                    <td><a href="{{ path('ordentrabajo_show', { 'id': ordenTrabajo.id }) }}">{{ ordenTrabajo.id }}</a></td>
                    <td>{{ ordenTrabajo.cliente }}</td>
                    <td>{{ ordenTrabajo.referencia }}</td>
                    <td>{{ ordenTrabajo.observaciones }}</td>
                    <td>{{ ordenTrabajo.taller }}</td>
                    <td>{{ ordenTrabajo.diasEstimados }}</td>
                    <td>{{ ordenTrabajo.estado }}</td>
                    <td>
                      <a href="{{ path('ordentrabajo_show', { 'id': comprobante.Id }) }}"><span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a href="{{ path('ordentrabajo_edit', { 'id': comprobante.Id }) }}"><span class="glyphicon glyphicon-edit"></span>
                      </a>
                      {% if comprobante.activo %}
                          <a href="{{ path('ordentrabajo_delete', { 'id': comprobante.Id }) }}" onclick="return confirm('Esta Seguro?')"><span class="glyphicon glyphicon-remove-sign"></span>
                          </a>
                      {% else %}
                          <a href="{{ path('ordentrabajo_delete', { 'id': comprobante.Id }) }}"><span class="glyphicon glyphicon-ok-circle"></span>
                          </a>
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
