{% extends 'base.html.twig' %}

{% block header %}
Ordenes de Trabajo
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}

<form class="form-horizontal" action="{{path('ordentrabajo_index')}}" method="GET">
  <div class="row"> 
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 500px;">
              <input id="btn-input" type="text" class="form-control input-sm" 
                 name="texto" placeholder="Buscar por Nombre/Documento/Email/Contacto" value=""/>

              <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  <a type="button" class="btn btn-primary btn-md" href="{{ path('ordentrabajo_new') }}"><i class="fa fa-plus"></i> Nuevo</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <!-- /.box-header -->
      <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-user"></i> Ordenes en Marcha </h3>
        </div>
        <div class="box-body">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                  <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Comprobante</th>
                    <th>Observaciones</th>
                    <th>Taller</th>
                    <th>Dias Estimados</th>
                    <th>Estado</th>
                    <th style="width: 5%">Acciones</th>
                </tr>
              <tbody>
              {% for ordenTrabajo in ordenTrabajos %}
                  <tr>
                      <td>{{ ordenTrabajo.id }}</td>
                      <td>{{ ordenTrabajo.cliente }}</td>
                      <td>{{ ordenTrabajo.comprobante }}</td>
                      <td>{{ ordenTrabajo.observaciones }}</td>
                      <td>{{ ordenTrabajo.taller }}</td>
                      <td>{{ ordenTrabajo.diasEstimados }}</td>
                      <td>{{ ordenTrabajo.estado }}</td>
                      <td>
                        <a href="{{ path('ordentrabajo_show', { 'id': ordenTrabajo.Id }) }}"><span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="{{ path('ordentrabajo_edit', { 'id': ordenTrabajo.Id }) }}"><span class="glyphicon glyphicon-edit"></span>
                        </a>
                        {% if ordenTrabajo.activo %}
                            <a href="{{ path('ordentrabajo_delete', { 'id': ordenTrabajo.Id }) }}" onclick="return confirm('Esta Seguro?')"><span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        {% else %}
                            <a href="{{ path('ordentrabajo_delete', { 'id': ordenTrabajo.Id }) }}"><span class="glyphicon glyphicon-ok-circle"></span>
                            </a>
                        {% endif %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <!-- /.box-header -->
      <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-user"></i> Ordenes Pendientes </h3>
        </div>
        <div class="box-body">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                  <tr>
                    <th>Cliente</th>
                    <th>Comprobante</th>
                    <th>Observaciones</th>
                    <th style="width: 5%">Acciones</th>
                </tr>
              <tbody>
              {#}{% for ordenTrabajo in ordenTrabajos %}{#}
              {#}{% endfor %}{#}
                <tr>
                  <td> Aca tenemos que buscar las comprobantes detalle que tengan productos que necesiten orden de trabajo y tengan un estado en particular</td>
                  <td>A la table comprobante detalle tal vez tengamos que agregarle una nueva columna de estado
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
