{% extends 'base.html.twig' %}

{% block header %}
Orden de Trabajo
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-user"></i> Caracteristicas </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Número</th>
                                    <td>{{ ordenTrabajo.id }}</td>
                                </tr>
                                <tr>
                                    <th>Comprobante</th>
                                    <td>{{ ordenTrabajo.comprobante }}</td>
                                </tr>
                                <tr>
                                    <th>Taller</th>
                                    <td>{{ ordenTrabajo.taller }}</td>
                                </tr>
                                <tr>
                                    <th>Otros Trabajos</th>
                                    <td>{{ ordenTrabajo.otrosTrabajos }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha</th>
                                    {% if ordenTrabajo.fecha is empty %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ ordenTrabajo.fecha | date('d-m-Y') }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Días Estimados</th>
                                    <td>{{ ordenTrabajo.diasEstimados }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha Entrega</th>
                                    {% if ordenTrabajo.fechaEntrega is empty %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ ordenTrabajo.fechaEntrega | date('d-m-Y') }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th>Observaciones</th>
                                    <td>{{ ordenTrabajo.observaciones }}</td>
                                </tr>
                                <tr>
                                    <th>Cristales</th>
                                    <td>{{ ordenTrabajo.cristales }}</td>
                                </tr>
                                <tr>
                                    <th>Montura</th>
                                    <td>{{ ordenTrabajo.montura }}</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {% for ordentrabajodetalle in ordentrabajodetalles %}
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-user"></i> LEJOS</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-hover">
                                    <thead>
                                        <th>&nbsp;</th>
                                        <th>OI</th>
                                        <th>OD</th>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <th>EJE</th>
                                            <td>{{ ordentrabajodetalle.lejosOjoIzquierdoEje }}</td>
                                            <td>{{ ordentrabajodetalle.lejosOjoDerechoEje }}</td>
                                        </tr>
                                        <tr>
                                            <th>ESFERA</th>
                                            <td>{{ ordentrabajodetalle.lejosOjoIzquierdoEsfera }}</td>
                                            <td>{{ ordentrabajodetalle.lejosOjoDerechoEsfera }}</td>
                                        </tr>
                                        <tr>
                                            <th>CILINDRO</th>
                                            <td>{{ ordentrabajodetalle.lejosOjoIzquierdoCilindro }}</td>
                                            <td>{{ ordentrabajodetalle.lejosOjoDerechoCilindro }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-user"></i> CERCA</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-hover">
                                    <thead>
                                        <th>&nbsp;</th>
                                        <th>OI</th>
                                        <th>OD</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>EJE</th>
                                            <td>{{ ordentrabajodetalle.cercaOjoIzquierdoEje }}</td>
                                            <td>{{ ordentrabajodetalle.cercaOjoDerechoEje }}</td>
                                        </tr>
                                        <tr>
                                            <th>ESFERA</th>
                                            <td>{{ ordentrabajodetalle.cercaOjoIzquierdoEsfera }}</td>
                                            <td>{{ ordentrabajodetalle.lejosOjoDerechoEsfera }}</td>
                                        </tr>
                                        <tr>
                                            <th>CILINDRO</th>
                                            <td>{{ ordentrabajodetalle.lejosOjoIzquierdoCilindro }}</td>
                                            <td>{{ ordentrabajodetalle.lejosOjoDerechoCilindro }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-user"></i> OTROS</h3>
                            </div>
                            <div class="box-body">
                                <table class="table table-hover">
                                    <thead>
                                        <th>&nbsp;</th>
                                        <th>OI</th>
                                        <th>OD</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>DNP</th>
                                            <td>{{ ordentrabajodetalle.ojoIzquierdoDnp }}</td>
                                            <td>{{ ordentrabajodetalle.ojoDerechoDnp }}</td>
                                        </tr>
                                        <tr>
                                            <th>ESTADO</th>
                                            <td>{{ ordentrabajodetalle.estado }}</td>
                                        </tr>
                                        <tr>
                                            <th>FECHA ENTREGA</th>
                                            <td>{{ ordentrabajodetalle.fechaEntrega|date('d-m-Y') }}</td>
                                        </tr>    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>   
        <div class="row">    
            <div class="box box-success">
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a href="{{ path('ordentrabajo_index') }}" class="btn btn-app">
                                <i class="fa fa-arrow-left"></i> Volver
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a href="{{ path('ordentrabajo_edit', { 'id': ordenTrabajo.Id }) }}" class="btn btn-app pull-right"><span class="glyphicon glyphicon-edit"></span> Editar
                             </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
    </div> 
</div> 
{% endblock %}

