{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordentrabajo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordenTrabajo.id }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ ordenTrabajo.referencia }}</td>
            </tr>
            <tr>
                <th>Ojoderechoeje</th>
                <td>{{ ordenTrabajo.ojoDerechoEje }}</td>
            </tr>
            <tr>
                <th>Ojoderechocilindro</th>
                <td>{{ ordenTrabajo.ojoDerechoCilindro }}</td>
            </tr>
            <tr>
                <th>Ojoderechoesfera</th>
                <td>{{ ordenTrabajo.ojoDerechoEsfera }}</td>
            </tr>
            <tr>
                <th>Ojoderechoadicc</th>
                <td>{{ ordenTrabajo.ojoDerechoAdicc }}</td>
            </tr>
            <tr>
                <th>Ojoderechodnp</th>
                <td>{{ ordenTrabajo.ojoDerechoDnp }}</td>
            </tr>
            <tr>
                <th>Ojoderechoalt</th>
                <td>{{ ordenTrabajo.ojoDerechoAlt }}</td>
            </tr>
            <tr>
                <th>Ojoizquierdoeje</th>
                <td>{{ ordenTrabajo.ojoIzquierdoEje }}</td>
            </tr>
            <tr>
                <th>Ojoizquierdocilindro</th>
                <td>{{ ordenTrabajo.ojoIzquierdoCilindro }}</td>
            </tr>
            <tr>
                <th>Ojoizquierdoesfera</th>
                <td>{{ ordenTrabajo.ojoIzquierdoEsfera }}</td>
            </tr>
            <tr>
                <th>Ojoizquierdoadicc</th>
                <td>{{ ordenTrabajo.ojoIzquierdoAdicc }}</td>
            </tr>
            <tr>
                <th>Ojoizquierdodnp</th>
                <td>{{ ordenTrabajo.ojoIzquierdoDnp }}</td>
            </tr>
            <tr>
                <th>Ojoizquierdoalt</th>
                <td>{{ ordenTrabajo.ojoIzquierdoAlt }}</td>
            </tr>
            <tr>
                <th>Cristales</th>
                <td>{{ ordenTrabajo.cristales }}</td>
            </tr>
            <tr>
                <th>Montura</th>
                <td>{{ ordenTrabajo.montura }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ ordenTrabajo.observaciones }}</td>
            </tr>
            <tr>
                <th>Dip</th>
                <td>{{ ordenTrabajo.dip }}</td>
            </tr>
            <tr>
                <th>Otrostrabajos</th>
                <td>{{ ordenTrabajo.otrosTrabajos }}</td>
            </tr>
            <tr>
                <th>Taller</th>
                <td>{{ ordenTrabajo.taller }}</td>
            </tr>
            <tr>
                <th>Diasestimados</th>
                <td>{{ ordenTrabajo.diasEstimados }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ ordenTrabajo.createdBy }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if ordenTrabajo.createdAt %}{{ ordenTrabajo.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ ordenTrabajo.updatedBy }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if ordenTrabajo.updatedAt %}{{ ordenTrabajo.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if ordenTrabajo.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordentrabajo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ordentrabajo_edit', { 'id': ordenTrabajo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
