<body style="font-family:Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Geneva, Arial, Sans-serif;font-size:9pt">
    {% for pagina_nro in 1..2 %}
        <table width="100%" cellspacing="0">
            <tbody>
                <tr>
                    <td width="60%" align="center">
                        <img width="100" height="74" src="{{ app.request.scheme ~'://' ~ 'localhost' ~ asset('img/logo2.jpeg')}}"><br>
                        <b>OPTICA CONTINI</b><br>
                        <b>Razon Social:</b> FLORES, NORA ELINA Y NANZER, MARIA JULIA<br>
                        Av. San Martín 1199, San Lorenzo, Santa Fe<br>
                        IVA Responsable Inscripto
                    </td>
                    <td width="10%" align="center">
                        <span style="font-size:28pt"><b>B</b></span><br>
                        COD. 06
                    </td>
                    <td width="30%" align="left">
                        {% if loop.index == 1 %}
                            <b>ORIGINAL</b>
                        {% else %}
                            <b>DUPLICADO</b>
                        {% endif %}
                        <br>
                        <b>{{comprobante.tipo}}</b><br>
                        <b>{{"%04d"|format(comprobante.puntoVenta)}}-{{"%08d"|format(comprobante.numero)}}</b><br>
                        <b>{{comprobante.fecha | date('d-m-Y')}}</b><br>
                        <b>CUIT:</b> 30715288075<br>
                        <b>Ingresos Brutos:</b> 091-051680-2<br>
                        <b>Inicio Actividades:</b> 01-08-2016<br>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <hr>
        &nbsp;<br>

        <table width="100%" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td width="60%"><b>Razon Social:</b> {{comprobante.cliente.nombre}}</td>
                    <td width="40%"><b>{{comprobante.cliente.documentoTipo}}:</b> {{comprobante.cliente.documentoNumero}}</td>
                </tr>
                <tr>
                    <td><b>Domicilio:</b> {{comprobante.cliente.direccion}}</td>
                    <td><b>Localidad:</b> {{comprobante.cliente.localidad.nombre}}</td>
                </tr>
                <tr>
                    <td><b>Condición de IVA:</b> {{comprobante.cliente.ivaCondicion.descripcion}}</td>
                    <td><b>Condición de Venta:</b> DATA</td>
                </tr>
            </tbody>
        </table>

        <br>
        <hr>
        &nbsp;<br>
        DATA DETALLES

        <br>
        <hr>
        &nbsp;<br>

        <b>Observaciones:</b> {% if not comprobante.observaciones is empty %}{{comprobante.obervaciones}}{% endif %}<br>
        <br>
        <table width="100%" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td width="60%">
                        <b>CAE Nro:</b> {{comprobante.caeNumero}}<br>
                        <b>Fecha de Vto. de CAE:</b> {{comprobante.caeFechaVencimiento | date('d-m-Y')}}
                    </td>
                    <td width="40%">
                        <b>Total:</b> $ {{comprobante.total}}
                    </td>
                </tr>
            </tbody>
        </table>

        {% if loop.index < 2 %}
            <p style="page-break-after: always; text-align: right;font-size:10pt;">_</p>
        {% endif %}
    {% endfor %}
</body>