<body style="font-family:Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Geneva, Arial, Sans-serif;font-size:9pt">
    {% for pagina_nro in 1..2 %}
        <table width="100%" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td width="40%" align="center">
                        <img width="226" height="64" src="{{ app.request.scheme ~'://' ~ 'localhost' ~ asset('img/logo3.jpg')}}"><br>
                        <b>OPTICA CONTINI</b><br>
                        <b>Razon Social:</b> {{ empresaRazonSocial}}<br>
                        {{empresaDireccion}}<br>
                        {{empresaCondicion}}
                    </td>
                    <td width="20%" align="center">
                        <span style="font-size:28pt"><b>{{ facturaTipo }}</b></span>
                        <br>
                        COD. 01
                    </td>
                    <td width="40%" align="left">
                        {% if loop.index == 1 %}
                            <b>ORIGINAL</b>
                        {% else %}
                            <b>DUPLICADO</b>
                        {% endif %}
                        <br>
                        <br>
                        <b>{{comprobante.tipo}}</b><br>
                        <b>{{"%04d"|format(comprobante.puntoVenta)}}-{{"%08d"|format(comprobante.afipNumero)}}</b><br>
                        <b>{{comprobante.fecha | date('d-m-Y')}}</b><br>
                        <br>
                        <b>CUIT:</b> {{ empresaCuit }}<br>
                        <b>Ingresos Brutos:</b> {{ empresaIngresosBrutos }}<br>
                        <b>Inicio Actividades:</b> {{ empresaInicioActividades }}<br>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <hr>
        &nbsp;<br>

        <table width="100%" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td width="60%"><b>Razon Social:</b> {{comprobante.cliente.nombre}}</td>
                    <td width="40%"><b>{{comprobante.cliente.documentoTipo}}:</b> {{comprobante.cliente.documentoNumero}}</td>
                </tr>
                <tr>
                    <td><b>Domicilio:</b> {{comprobante.cliente.direccion}}</td>
                    <td><b>Localidad:</b> {{comprobante.cliente.localidad.nombre}}</td>
                </tr>
                <tr>
                    <td><b>Condición de IVA:</b> {{comprobante.cliente.ivaCondicion.descripcion}}</td>
                    <td><b>Condición de Venta:</b> {{comprobante.condicionVenta}}</td>
                </tr>
            </tbody>
        </table>

        <br>
        &nbsp;<br>
        
        <table width="100%" cellspacing="0" cellpadding="5" border="1" style="font-size:7pt">
            <tbody>
                <tr>
                    <th width="8%"><b>Cod.</b></th>
                    <th width="47%"><b>Descripción</b></th>
                    <th width="9%"><b>Cantidad</b></th>
                    <th width="9%"><b>Precio U.</b></th>
                    <th width="9%"><b>Bonif. %</b></th>
                    <th width="9%"><b>Iva. %</b></th>
                    <th width="9%"><b>Subtotal</b></th>
                </tr>
                {% for comprobanteDetalle in comprobanteDetalles %}
                    <tr>
                        <td>{{ comprobanteDetalle.articulo.codigo}}</td>
                        <td>{{ comprobanteDetalle.articulo.descripcion }}</td>
                        <td>{{ comprobanteDetalle.cantidad }}</td>
                        <td>{{ comprobanteDetalle.precioUnitario }}</td>
                        <td>{{ comprobanteDetalle.porcentajeBonificacion }}</td>
                        <td>{{ comprobanteDetalle.porcentajeIva }}</td>
                        <td>{{ comprobanteDetalle.totalNeto }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        &nbsp;<br>

        <b>Observaciones:</b> {% if not comprobante.observaciones is empty %}{{comprobante.obervaciones}}{% endif %}<br>
        <br>

        <table width="100%" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td width="60%">
                        <img width="63" height="18" src="{{ app.request.scheme ~'://' ~ 'localhost' ~ asset('img/logoAFIP.jpeg')}}"><br>
                        <span style="font-size:5pt"><i>La Administración Federal no se responsabiliza por los datos ingresados en el detalle de la operación</i></span><br>
                        <b>CAE Nro:</b> {{comprobante.caeNumero}}<br>
                        <b>Fecha de Vto. de CAE:</b> {{comprobante.caeFechaVencimiento | date('d-m-Y')}}
                    </td>
                    <td width="40%">
                        <b>Subtotal:</b> $ {{(comprobante.totalNeto + comprobante.totalBonificacion) | number_format(2, '.', ',')}}<br>
                        <b>Bonificacion:</b> $ {{comprobante.totalBonificacion}}<br>
                        <b>IVA:</b> $ {{(comprobante.importeIva) | number_format(2, '.', ',')}}<br>
                        <b>Total:</b> $ {{comprobante.total}}
                    </td>
                </tr>
            </tbody>
        </table>

        {% if loop.index < 2 %}
            <p style="page-break-after: always; text-align: right;font-size:10pt;">_</p>
        {% endif %}
    {% endfor %}
</body>