{% block ComprobanteType_widget %}
    {# form_row(form.productName) #}

    {# form_row would write extra markup, so we directly write the collection #}
    {{ form_widget(form.articulos) }}
{% endblock %}

{# By default, collection uses the form_widget block to create its markup, but we want a table #}
{% block collection_widget %}


    {#
     # This is almost a copy/paste of jquery.collection.html.twig, we can't use it as it also
     # use form_widget. Note that we also use form_widget(prototype) instead of form_row(prototype)
     # to avoid generating extra markup.
     #}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
    {% endif %}
    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        
    {{ form_errors(form) }}

    {# Don't forget to add the collection attributes in your markup #}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-user"></i> Detalles</h3>
                </div>
                
                <div class="form-group form-group-sm">
                    <table {{ block('widget_attributes') }}>
                        <thead>
                            <th>Artículo</th>
                            <th>Cantidad</th>
                            <th>P. Venta</th>
                            <th>IVA $</th>
                            <th>Bonificación %</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tbody>
                            {% for item in form %}
                                {{ form_widget(item) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>

{% endblock %}

{% block ComprobanteDetalleType_widget %}

    {# widget_attributes will generate class="item" from the DiscountCollectionType.entry_options configuration #}
    <tr {{ block('widget_attributes') }}>
        <td>{{ form_widget(form.articulo) }}</td>
        <td>{{ form_widget(form.cantidad) }}</td>
        <td>{{ form_widget(form.precioVenta) }}</td>
        <td>{{ form_widget(form.importeIva) }}</td>
        <td>{{ form_widget(form.bonificacion) }}</td>
        <td>{{ form_widget(form.total) }}</td>

        <td class="text-center">
            <a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add element"><span class="glyphicon glyphicon-plus-sign"></span></a>
            <a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><span class="glyphicon glyphicon-th-large"></span></a>
        </td>
    </tr>

{% endblock %}

{% block ComprobanteDetalleType_label %}{% endblock %}
