{% extends 'base.html.twig' %}

{% block header %}
Articulo
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-user"></i> Datos Generales</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th style="width:20%">Codigo</th>
                                    <td>{{ articulo.codigo }}</td>
                                </tr>
                                <tr>
                                    <th>Descripcion</th>
                                    <td>{{ articulo.descripcion }}</td>
                                </tr>
                                <tr>
                                    <th>IVA</th>
                                    <td>{{ articulo.iva }}</td>
                                </tr>
                                <tr>
                                    <th>Precio Costo</th>
                                    <td>{{ articulo.precioCosto }}</td>
                                </tr>
                                <tr>
                                    <th>Ganancia %</th>
                                    <td>{{ articulo.gananciaPorcentaje }}</td>
                                </tr>
                                <tr>
                                    <th>Precio Venta Sin IVA</th>
                                    <td>{{ articulo.precioVentaSinIva }}</td>
                                </tr>
                                <tr>
                                    <th>Precio Venta</th>
                                    <td>{{ articulo.precioVenta }}</td>
                                </tr>
                                <tr>
                                    <th>Cantidad Minima</th>
                                    <td>{{ articulo.cantidadMinima }}</td>
                                </tr>
                                <tr>
                                    <th>Precio Modificable</th>
                                    <td>
                                        {% if articulo.precioModifica %}
                                          <span class="label label-success">Si</span>
                                        {% else %}
                                          <span class="label label-danger">No</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Orden Trabajo</th>
                                    <td>
                                        {% if articulo.ordenTrabajo %}
                                          <span class="label label-success">Si</span>
                                        {% else %}
                                          <span class="label label-danger">No</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Activo</th>
                                    <td>
                                        {% if articulo.activo %}
                                          <span class="label label-success">Activo</span>
                                        {% else %}
                                          <span class="label label-danger">Inactivo</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-user"></i> Caracteristicas</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Marca</th>
                                    <td>{{ articulo.marca }}</td>
                                </tr>
                                <tr>
                                    <th>Genero</th>
                                    <td>{{ articulo.genero }}</td>
                                </tr>
                                <tr>
                                    <th>Material</th>
                                    <td>{{ articulo.material }}</td>
                                </tr>
                                <tr>
                                    <th>Forma</th>
                                    <td>{{ articulo.forma }}</td>
                                </tr>
                                <tr>
                                    <th>Estilo</th>
                                    <td>{{ articulo.estilo }}</td>
                                </tr>
                                <tr>
                                    <th>Color Marco</th>
                                    <td>{{ articulo.colorMarco }}</td>
                                </tr>
                                <tr>
                                    <th>Color Cristal</th>
                                    <td>{{ articulo.colorCristal }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row">    
            <div class="box box-success">
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a href="{{ path('articulo_index') }}" class="btn btn-app">
                                <i class="fa fa-arrow-left"></i> Artículos
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a href="{{ path('articulo_edit', { 'id': articulo.Id }) }}" class="btn btn-app pull-right"><span class="glyphicon glyphicon-edit"></span> Editar
                             </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
    </div> 
</div> 
{% endblock %}

