{% extends 'base.html.twig' %}

{% block header %}
Nueva Orden de Trabajo
{% endblock %}

{% block header_description %}
{% endblock %}

{% block extra_js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block body %}

<script>
$(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('.nav-tabs a').click(function (e) {
      $(this).tab('show');
      var scrollmem = $('body').scrollTop() || $('html').scrollTop();
      window.location.hash = this.hash;
      $('html,body').scrollTop(scrollmem);
    });
  });
</script>

{% form_theme form 'ordentrabajocontactologia/formCollection.html.twig' %}
{{ form(form) }}
{{ form_end(form) }}

<script type="text/javascript">

     window.onload = function() {
        fnClienteChange($("#OrdenTrabajoContactologiaType_cliente"));
    }

    $('.cliente').change(function() {
        fnClienteChange($(this));
    });

    $('.medico').change(function() {
        fnMedicoChange($(this));
    });

    $('.ordenTrabajoContactologiaDetalle-collection').collection({
        allow_duplicate: false,
        allow_up: false,
        allow_down: false,
        init_with_n_elements: 1,
        add_at_the_end: true,
        add: '<a href="#" class="btn btn-default" title="Agregar Artículo"><span class="glyphicon glyphicon-plus-sign"></span></a>',
        elements_selector: 'tr.item',
        elements_parent_selector: '%id% tbody',
        after_add: function(collection, element) {
            articulo = element.find("select.articulo");
            parametro = element.find("select.parametro");
            entrega = element.find("OrdenTrabajoContactologiaType_entrega");

            articulo.on('change', function(){
                fnArticuloChange($(this));
            });

            parametro.on('change', function(){
                fnParametroChange($(this));
            });

            element.on('change', function(){
                fnRenglonChange($(this));
            });

            articulo.select2({
                ajax: {
                  delay: 250,
                  url: "{{ url('articulo_find_select2') }}",//+"?page_limit=10",
                  data: function (params) {
                    var queryParameters = {
                      q: params.term
                    }

                    return queryParameters;
                  },
                  processResults: function (data) {
                    return {
                      results: data
                    };
                  },
                },
                width: "100%",
            });

            parametro.select2({
                ajax: {
                    delay: 250,
                    url: "{{ url('parametro_find_select2') }}",//+"?page_limit=10",
                    data: function (params) {
                        var queryParameters = {
                            q: params.term
                        }

                        return queryParameters;
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                },
                width: "100%",
            });

            entrega.on('change', function(){
                fnCalcularSaldo();
            });

            return true;
         },
         after_remove: function(collection, element) {
            //Recalculo todos los totales
            fnCalcularTotales();

            return true;
         }
    });

    function fnClienteChange(cliente) {

        var data = { clienteId: cliente.val() };

        $.ajax({
            type: 'POST',
            url: "{{ url('ordentrabajocontactologia_find') }}" ,
            data: data,
            success: function(resp){

                var ordentrabajocontactologia = $.parseJSON(resp.ordenTrabajoContactologia);

                if (ordentrabajocontactologia != ""){
                    $("#OrdenTrabajoContactologiaType_antesLejosOjoDerechoEje").val(ordentrabajocontactologia.lejosOjoDerechoEje);
                    $("#OrdenTrabajoContactologiaType_antesLejosOjoIzquierdoEje").val(ordentrabajocontactologia.lejosOjoIzquierdoEje);
                    $("#OrdenTrabajoContactologiaType_antesLejosOjoDerechoCilindro").val(ordentrabajocontactologia.lejosOjoDerechoCilindro);
                    $("#OrdenTrabajoContactologiaType_antesLejosOjoIzquierdoCilindro").val(ordentrabajocontactologia.lejosOjoIzquierdoCilindro);
                    $("#OrdenTrabajoContactologiaType_antesLejosOjoDerechoEsfera").val(ordentrabajocontactologia.lejosOjoDerechoEsfera);
                    $("#OrdenTrabajoContactologiaType_antesLejosOjoIzquierdoEsfera").val(ordentrabajocontactologia.lejosOjoIzquierdoEsfera);
                    $("#OrdenTrabajoContactologiaType_antesCercaOjoDerechoEje").val(ordentrabajocontactologia.cercaOjoDerechoEje);
                    $("#OrdenTrabajoContactologiaType_antesCercaOjoIzquierdoEje").val(ordentrabajocontactologia.cercaOjoIzquierdoEje);
                    $("#OrdenTrabajoContactologiaType_antesCercaOjoDerechoCilindro").val(ordentrabajocontactologia.cercaOjoDerechoCilindro);
                    $("#OrdenTrabajoContactologiaType_antesCercaOjoIzquierdoCilindro").val(ordentrabajocontactologia.cercaOjoIzquierdoCilindro);
                    $("#OrdenTrabajoContactologiaType_antesCercaOjoDerechoEsfera").val(ordentrabajocontactologia.cercaOjoDerechoEsfera);
                    $("#OrdenTrabajoContactologiaType_antesCercaOjoIzquierdoEsfera").val(ordentrabajocontactologia.cercaOjoIzquierdoEsfera);
                    $("#OrdenTrabajoContactologiaType_antesOjoDerechoDnp").val(ordentrabajocontactologia.ojoDerechoDnp);
                    $("#OrdenTrabajoContactologiaType_antesOjoIzquierdoDnp").val(ordentrabajocontactologia.ojoIzquierdoDnp);
                 }
            }
        });

        $.ajax({
            type: 'POST',
            url: "{{ url('cliente_find_obra_social_plan') }}" ,
            data: data,
            success: function(resp){

                var obra_social_plan_id = $.parseJSON(resp.obra_social_plan_id);

                $("#OrdenTrabajoContactologiaType_obraSocialPlan").val(obra_social_plan_id);
            }
        });

        return true;
    }

    function fnMedicoChange(medico) {

        var data = {medicoId: medico.val()};

    }

    function fnArticuloChange(articulo) {
        var data = { articuloId: articulo.val() };
        var renglon = articulo.closest("tr");

        var total = renglon.find("input.total");
        var porcentajeBonificacion = renglon.find("input.porcentajeBonificacion");
        var importeBonificacion = renglon.find("input.importeBonificacion");
        var precioVenta = renglon.find("input.precioVenta");

        $.ajax({
            type: 'POST',
            url: "{{ url('articulo_find') }}" ,
            data: data,
            success: function(resp){
                var articulo = $.parseJSON(resp.articulo);

                precioVenta.val(articulo.precioVenta);
                total.val(articulo.precioVenta);
                importeBonificacion.val(0);
                porcentajeBonificacion.val(0);

                fnRenglonChange(renglon);
            }
        });

        return true;
    }

    function fnParametroChange(parametro) {
        var data = { parametroId: parametro.val() };
        var renglon = parametro.closest("tr");
        var valorNro = renglon.find("input.valorNro");

        $.ajax({
            type: 'POST',
            url: "{{ url('parametro_find') }}" ,
            data: data,
            success: function(resp){
                var parametro = $.parseJSON(resp.parametro);
                valorNro.val(parametro.valorNro);

                fnRenglonChange(renglon);
            }
        });

        return true;
    }

    function fnRenglonChange(renglon) {
        var r_porcentajeBonificacion = renglon.find("input.porcentajeBonificacion");
        var r_importeBonificacion = renglon.find("input.importeBonificacion");
        var r_precioVenta = renglon.find("input.precioVenta");
        var r_total = renglon.find("input.total");
        var valorNro = renglon.find("input.valorNro");

        var total = parseFloat((r_precioVenta.val() * (1+(valorNro.val()/100))) - r_importeBonificacion.val()).toFixed(2);

        r_total.val(total);

        fnCalcularTotales();

        return true;
    }

    function fnCalcularTotales() {

        var total_bonificacion = 0;
        var total = 0;

        $("#OrdenTrabajoContactologiaType_ordenTrabajoContactologiaDetalles tr.item").each(function() {

            var r_importeBonificacion = $(this).find("input.importeBonificacion");
            var r_total = $(this).find("input.total");

            total_bonificacion += parseFloat(r_importeBonificacion.val());
            total += parseFloat(r_total.val());
        });

        $("#OrdenTrabajoContactologiaType_totalBonificacion").val(total_bonificacion.toFixed(2));
        $("#OrdenTrabajoContactologiaType_total").val(total.toFixed(2));
        $("#OrdenTrabajoContactologiaType_saldo").val(total.toFixed(2));

        fnCalcularSaldo();

        return true;
    }

    function fnCalcularSaldo() {

        total = $("#OrdenTrabajoContactologiaType_total").val();
        entrega = $("#OrdenTrabajoContactologiaType_entrega").val();

        var saldo = parseFloat(total - entrega);

        $("#OrdenTrabajoContactologiaType_saldo").val(saldo.toFixed(2));

        return true;
    }

    $('#OrdenTrabajoContactologiaType_entrega').change(function() {
        fnCalcularSaldo();
    });

    function fnReplicarValor(original, nuevo, condicional)
    {
        $(original+","+condicional).change(function() {
            if ($(condicional).val() != 0)
                $(nuevo).val($(original).val());
        });
    }

    var camposReplicables = [['#OrdenTrabajoContactologiaType_antesLejosOjoDerechoCilindro','#OrdenTrabajoContactologiaType_antesCercaOjoDerechoCilindro',
        '#OrdenTrabajoContactologiaType_antesCercaOjoDerechoEsfera'],
        ['#OrdenTrabajoContactologiaType_antesLejosOjoIzquierdoCilindro','#OrdenTrabajoContactologiaType_antesCercaOjoIzquierdoCilindro',
        "#OrdenTrabajoContactologiaType_antesCercaOjoIzquierdoEsfera"],
        ['#OrdenTrabajoContactologiaType_antesLejosOjoDerechoEje','#OrdenTrabajoContactologiaType_antesCercaOjoDerechoEje',
        '#OrdenTrabajoContactologiaType_antesCercaOjoDerechoEsfera'],
        ['#OrdenTrabajoContactologiaType_antesLejosOjoIzquierdoEje','#OrdenTrabajoContactologiaType_antesCercaOjoIzquierdoEje',
        '#OrdenTrabajoContactologiaType_antesCercaOjoIzquierdoEsfera'],
        //*PRUEBA*//
        ['#OrdenTrabajoContactologiaType_lejosOjoDerechoCilindro','#OrdenTrabajoContactologiaType_cercaOjoDerechoCilindro',
        '#OrdenTrabajoContactologiaType_cercaOjoDerechoEsfera'],
        ['#OrdenTrabajoContactologiaType_lejosOjoIzquierdoCilindro','#OrdenTrabajoContactologiaType_cercaOjoIzquierdoCilindro',
        "#OrdenTrabajoContactologiaType_cercaOjoIzquierdoEsfera"],
        ['#OrdenTrabajoContactologiaType_lejosOjoDerechoEje','#OrdenTrabajoContactologiaType_cercaOjoDerechoEje',
        '#OrdenTrabajoContactologiaType_cercaOjoDerechoEsfera'],
        ['#OrdenTrabajoContactologiaType_lejosOjoIzquierdoEje','#OrdenTrabajoContactologiaType_cercaOjoIzquierdoEje',
        '#OrdenTrabajoContactologiaType_cercaOjoIzquierdoEsfera'],
        //*FINAL*//
        ['#OrdenTrabajoContactologiaType_finalLejosOjoDerechoCilindro','#OrdenTrabajoContactologiaType_finalCercaOjoDerechoCilindro',
        '#OrdenTrabajoContactologiaType_finalCercaOjoDerechoEsfera'],
        ['#OrdenTrabajoContactologiaType_finalLejosOjoIzquierdoCilindro','#OrdenTrabajoContactologiaType_finalCercaOjoIzquierdoCilindro',
        "#OrdenTrabajoContactologiaType_finalCercaOjoIzquierdoEsfera"],
        ['#OrdenTrabajoContactologiaType_finalLejosOjoDerechoEje','#OrdenTrabajoContactologiaType_finalCercaOjoDerechoEje',
        '#OrdenTrabajoContactologiaType_finalCercaOjoDerechoEsfera'],
        ['#OrdenTrabajoContactologiaType_finalLejosOjoIzquierdoEje','#OrdenTrabajoContactologiaType_finalCercaOjoIzquierdoEje',
        '#OrdenTrabajoContactologiaType_finalCercaOjoIzquierdoEsfera']]

    camposReplicables.forEach((element => fnReplicarValor(element[0],element[1], element[2])));

</script>

{% endblock %}
