<body style="font-family:Verdana, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, Geneva, Arial, Sans-serif;font-size:8pt">
    {% for pagina_nro in 1..2 %}

    <table width="100%" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td width="30%" align="center">
                    <img width="60" height="60" src="{{ asset('img/logooptica.jpg')}}"><br>
                    <b>OPTICA CONTINI</b>
                    <br>
                    {{ordenTrabajoContactologia.sucursal.direccion}} - {{ordenTrabajoContactologia.sucursal.localidad.nombre}}, {{ordenTrabajoContactologia.sucursal.localidad.provincia.nombre}}<br>
                    <b>Teléfono:</b> {{ordenTrabajoContactologia.sucursal.telefono}}<br>
                </td>
                {% if pagina_nro == 1 %}
                <td width="40%" align="left" border="1">
{#                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>DETALLE:</u></b>#}
{#                    <br>#}
{#                    <br>#}
{#                    Estado: {{ ordenTrabajoContactologia.estado }}#}
{#                    <br>#}
{#                    Diagnóstico: {{ ordenTrabajoContactologia.diagnostico }}#}
{#                    <br>#}
{#                    Rp: {{ ordenTrabajoContactologia.rp }}#}
{#                    <br>#}
{#                    Observaciones: {{ ordenTrabajoContactologia.observaciones }}#}
{#                    <br>#}
{#                    Motivación: {{ ordenTrabajoContactologia.motivacion }}#}
{#                    <br>#}
{#                    Usolc: {{ ordenTrabajoContactologia.usoLC }}#}
{#                    <br>#}
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>TALLER:</u></b>
                    <br>
                    <br>
                    Pedido a: {{ ordenTrabajoContactologia.taller }}
                    <br>
                    Armado: {% if ordenTrabajoContactologia.armado %} Si {% else %} No {% endif %}
                    <br>
                    Fecha Pedido: {% if not ordenTrabajoContactologia.fechaTallerPedido is empty %} {{ ordenTrabajoContactologia.fechaTallerPedido | date('d-m-Y') }} {% endif %}
                    <br>
                    Fecha Entrega: {% if not ordenTrabajoContactologia.fechaTallerEntrega is empty %} {{ ordenTrabajoContactologia.fechaTallerEntrega | date('d-m-Y') }} {% endif %}
                    <br>
                    Número: {{ ordenTrabajoContactologia.numeroTaller }}
                    <br>
                </td>
                {% endif %}
                <td width="30%" align="left">
                    <b style="font-size:8">N° Ord: {{ ordenTrabajoContactologia.id }}</b><br>
                    <b style="font-size:8">Comp {{ ordenTrabajoContactologia.comprobante }}</b><br>
                    Fecha Recepción: {{ ordenTrabajoContactologia.fechaRecepcion | date('d-m-Y') }}
                    <br>
                    Fecha Entrega: {{ ordenTrabajoContactologia.fechaEntrega | date('d-m-Y') }}
                    <br>
                    <br>
                    <b><u>ATENCION:</u></b>
                    <br>
                    Los trabajos recibidos tienen
                    <br>
                    validez por 90 días, de lo
                    <br>
                    contrario pierde todo derecho
                    <br>
                    sobre los mismos. (Art. 873-875
                    <br>
                    del Código Civil)
                    <br>
                    Pasados los 30 días podrá ajustarse el precio por inflación
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table width="100%" cellspacing="0" border="1">
        <tbody>
            <tr>
                <td width="30%" align="left">
                    <br>
                    <b>Total: </b> {{ ordenTrabajoContactologia.total}}
                    <br>
                    ---------------------------------------------
                    <br>
                    <b>Entrega: </b> {{ ordenTrabajoContactologia.entrega}}
                    <br>
                    <b>Saldo: </b> {{ ordenTrabajoContactologia.saldo}}
                    <br>
                </td>
{#                <td width="70%" align="left">#}
{#                    <b>Nombre: </b> {{ ordenTrabajoContactologia.cliente.nombre}}#}
{#                    <br>#}
{#                    <b>Dirección: </b> {{ ordenTrabajoContactologia.cliente.direccion}}#}
{#                    <br>#}
{#                    <b>DNI: </b> {{ ordenTrabajoContactologia.cliente.documentoNumero}}#}
{#                    <br>#}
{#                    <b>Médico: </b> {{ ordenTrabajoContactologia.medico}}#}
{#                    <br>#}
{#                    <b>Fecha Receta: </b> {{ ordenTrabajoContactologia.fechaReceta | date('d-m-Y') }}#}
{#                    <br>#}
{#                    <b>Vendedor: </b> {{ ordenTrabajoContactologia.usuario}}#}
{#                    <br>#}
{#                    <b>Observaciones: </b> {{ ordenTrabajoContactologia.observaciones }}#}
{#                </td>#}
                <td width="35%" align="left">
                    <b>Nombre: </b> {{ ordenTrabajoContactologia.cliente.nombre}}
                    <br>
                    <b>Teléfono: </b> {{ ordenTrabajoContactologia.cliente.telefono}}
                    <br>
                    <b>Direccion: </b> {{ ordenTrabajoContactologia.cliente.direccion}}
                    <br>
                    <b>DNI: </b> {{ ordenTrabajoContactologia.cliente.documentoNumero}}
                </td>
                <td width="35%" align="left">
                    <b>Médico: </b> {{ ordenTrabajoContactologia.medico}}
                    <br>
                    <b>Fecha Receta: </b> {% if not ordenTrabajoContactologia.fechaReceta is empty %} {{ ordenTrabajoContactologia.fechaReceta | date('d-m-Y') }} {% endif %}
                    <br>
                    <b>Vendedor: </b> {{ ordenTrabajoContactologia.usuario}}<br>
                    <b>Observaciones: </b> {{ ordenTrabajoContactologia.observaciones }}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    &nbsp;
    <br>
    <table width="100%" cellspacing="0" border="1">
        <tbody>
            <tr>
                <td style="text-align: center"><b>Artículo</b></td>
                <td style="text-align: center">Marca</td>
                <td style="text-align: center">Material</td>
                <td style="text-align: center">Forma</td>
                <td style="text-align: center">Estilo</td>
                <td style="text-align: center">P. Venta</td>
                <td style="text-align: center">O.S</td>
                <td style="text-align: center">Total</td>
            </tr>
            {% for ordenTrabajoContactologiaDetalle in ordentrabajocontactologiadetalles %}
                <tr>
                    <td style="text-align: center"><b>{{ ordenTrabajoContactologiaDetalle.articulo.descripcion }}</b></td>
                    <td style="text-align: center">{{ ordenTrabajoContactologiaDetalle.articulo.marca }}</td>
                    <td style="text-align: center">{{ ordenTrabajoContactologiaDetalle.articulo.material }}</td>
                    <td style="text-align: center">{{ ordenTrabajoContactologiaDetalle.articulo.forma }}</td>
                    <td style="text-align: center">{{ ordenTrabajoContactologiaDetalle.articulo.estilo }}</td>
                    <td style="text-align: center">{{ ordenTrabajoContactologiaDetalle.precioVenta }}</td>
                    <td style="text-align: center">{{ ordenTrabajoContactologiaDetalle.importeBonificacion }}</td>
                    <td style="text-align: center">{{ ordenTrabajoContactologiaDetalle.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if pagina_nro == 1 %}
    <br>
    &nbsp;
    <br>
    <b>ANTES:</b>
    <br>
    <table width="100%" cellspacing="0" border="1">
        <tbody>
            <tr>
                <td rowspan="5" align="center">
                    <br>
                    &nbsp;
                    <br>
                    ESPC.
                    <br>
                    RECETA
                </td>
                <td colspan="2" align="center">
                    VISION
                </td>
                <td align="center">
                    ESF.
                </td>
                <td align="center">
                    CIL.
                </td>
                <td align="center">
                    EJE.
                </td>
                <td align="center">
                    DNP.
                </td>
            </tr>
            <tr>
                <td rowspan="2" align="center">
                    LEJOS/MONO
                    /MULTI
                </td>
                <td align="center">
                    OD
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesLejosOjoDerechoEsfera > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesLejosOjoDerechoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesLejosOjoDerechoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesLejosOjoDerechoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesLejosOjoDerechoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesLejosOjoDerechoEje }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesOjoDerechoDnp > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesOjoDerechoDnp }}
                </td>
            </tr>
            <tr>
                <td align="center">
                    OI
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesLejosOjoIzquierdoEsfera > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesLejosOjoIzquierdoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesLejosOjoIzquierdoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesLejosOjoIzquierdoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesLejosOjoIzquierdoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesLejosOjoIzquierdoEje }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesOjoIzquierdoDnp > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesOjoIzquierdoDnp }}
                </td>
            </tr>
            <tr>
                <td rowspan="2" align="center">
                    CERCA
                </td>
                <td align="center">
                    OD
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesCercaOjoDerechoEsfera > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesCercaOjoDerechoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesCercaOjoDerechoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesCercaOjoDerechoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesCercaOjoDerechoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesCercaOjoDerechoEje }}
                </td>
                <td rowspan="2" align="center">
                </td>
            </tr>
            <tr>
                <td align="center">
                    OI
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesCercaOjoIzquierdoEsfera > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesCercaOjoIzquierdoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesCercaOjoIzquierdoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesCercaOjoIzquierdoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.antesCercaOjoIzquierdoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.antesCercaOjoIzquierdoEje }}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    &nbsp;
    <br>
    <b>DESPUES:</b>
    <br>
    <table width="100%" cellspacing="0" border="1">
        <tbody>
            <tr>
                <td rowspan="5" align="center">
                    <br>
                    &nbsp;
                    <br>
                    ESPC.
                    <br>
                    RECETA
                </td>
                <td colspan="2" align="center">
                    VISION
                </td>
                <td align="center">
                    ESF.
                </td>
                <td align="center">
                    CIL.
                </td>
                <td align="center">
                    EJE.
                </td>
                <td align="center">
                    DNP.
                </td>
            </tr>
            <tr>
                <td rowspan="2" align="center">
                    LEJOS/MONO
                    /MULTI
                </td>
                <td align="center">
                    OD
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.lejosOjoDerechoEsfera > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.lejosOjoDerechoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.lejosOjoDerechoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.lejosOjoDerechoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.lejosOjoDerechoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.lejosOjoDerechoEje }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoDerechoDnp > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoDerechoDnp }}
                </td>
            </tr>
            <tr>
                <td align="center">
                    OI
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.lejosOjoIzquierdoEsfera > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.lejosOjoIzquierdoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.lejosOjoIzquierdoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.lejosOjoIzquierdoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.lejosOjoIzquierdoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.lejosOjoIzquierdoEje }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoIzquierdoDnp > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoIzquierdoDnp }}
                </td>
            </tr>
            <tr>
                <td rowspan="2" align="center">
                    CERCA
                </td>
                <td align="center">
                    OD
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.cercaOjoDerechoEsfera  > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.cercaOjoDerechoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.cercaOjoDerechoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.cercaOjoDerechoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.cercaOjoDerechoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.cercaOjoDerechoEje }}
                </td>
            </tr>
            <tr>
                <td align="center">
                    OI
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.cercaOjoIzquierdoEsfera > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.cercaOjoIzquierdoEsfera }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.cercaOjoIzquierdoCilindro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.cercaOjoIzquierdoCilindro }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.cercaOjoIzquierdoEje > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.cercaOjoIzquierdoEje }}
                </td>
                <td rowspan="2" align="center"></td>
            </tr>
        </tbody>
    </table>
    <br>
    &nbsp;
    <br>
    &nbsp;
    <br>
    <table width="100%" cellspacing="0" border="1">
        <tbody>
            <tr>
                <td style="width: 9%" align="center"></td>
                <td style="width: 10%" align="center">Horizontal</td>
                <td style="width: 8%" align="center">Vertical</td>
                <td style="width: 1%" align="center"></td>
                <td style="width: 5%" align="center"></td>
                <td style="width: 8%" align="center">Curvas</td>
                <td style="width: 9%" align="center">Diámetro</td>
                <td style="width: 43%" align="center">Características</td>
                <td style="width: 7%"align="center">AV</td>
            </tr>
            <tr>
                <td align="center">RC - OD</td>
                <td align="center">
                    {% if ordenTrabajoContactologia.rcOjoDerechoHorizontal > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.rcOjoDerechoHorizontal }}
                </td>
                <td align="center">
                    {% if ordenTrabajoContactologia.rcOjoDerechoVertical > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.rcOjoDerechoVertical }}
                </td>
                <td align="center"></td>
                <td align="center">OD</td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoDerechoCurvas > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoDerechoCurvas }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoDerechoDiametro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoDerechoDiametro }}
                </td>
                <td style="text-align: center">
                    {{ ordenTrabajoContactologia.ojoDerechoCaracteristicas }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoDerechoAV > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoDerechoAV }}
                </td>
            </tr>
            <tr>
                <td align="center">RC - OI</td>
                <td align="center">
                    {% if ordenTrabajoContactologia.rcOjoIzquierdoHorizontal > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.rcOjoIzquierdoHorizontal }}
                </td>
                <td align="center">
                    {% if ordenTrabajoContactologia.rcOjoIzquierdoVertical > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.rcOjoIzquierdoVertical }}
                </td>
                <td align="center"></td>
                <td align="center">OI</td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoIzquierdoCurvas > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoIzquierdoCurvas }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoIzquierdoDiametro > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoIzquierdoDiametro }}
                </td>
                <td style="text-align: center">
                    {{ ordenTrabajoContactologia.ojoIzquierdoCaracteristicas }}
                </td>
                <td style="text-align: center">
                    {% if ordenTrabajoContactologia.ojoIzquierdoAV > 0 %}+{% endif %}
                    {{ ordenTrabajoContactologia.ojoIzquierdoAV }}
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    <!--{% if not loop.last %}
        <p style="page-break-after: always; text-align: right;font-size:10pt;">_</p>
    {% endif %}-->
    {% if not loop.last %}
        <br>
        <br>
        ---------------------------------------------------------------------------------------------------------------------------------------------------------------
        <br>
        <br>
        <br>
        <br>
    {% endif %}
    {% endfor %}
</body>
