{% extends 'base.html.twig' %}

{% block header %}
Comprobantes de Compras
{% endblock %}

{% block header_description %}
{% endblock %}

{% block body %}

<form class="form-horizontal" action="{{path('comprobantecompra_index')}}" method="GET">
  <div class="row"> 
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>
          <div class="box-tools">
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="input-group input-group-sm">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon input-sm">F. Desde</span>
                    <input name="fecha_desde" type="text" class="form-control input-sm js-datepicker" autocomplete="off" placeholder="Desde" value="{{fecha_desde}}">
                  </div>
                </div>
              </div>

              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="input-group input-group-sm">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon input-sm">F. Hasta</span>
                    <input name="fecha_hasta" type="text" class="form-control input-sm js-datepicker" autocomplete="off" placeholder="Hasta" value="{{fecha_hasta}}">
                  </div>
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="input-group input-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon input-sm">Proveedor</span>
                    <input name="proveedor" type="text" class="form-control input-sm" placeholder="Nombre/Documento" value="{{proveedor}}">
                  </div>
                </div>
              </div>              

              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="input-group input-group-sm">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon input-sm">Pagado</span>
                    <select name="pagado" class="form-control">
                      <option value=""></option>
                      <option value="SI" {% if pagado == "SI" %} selected {% endif %}>SI</option>
                      <option value="NO" {% if pagado == "NO" %} selected {% endif %}>NO</option>
                    </select>
                  </div>

                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      <a type="button" class="btn btn-primary btn-md" href="{{ path('comprobantecompra_new') }}"><i class="fa fa-plus"></i> Nuevo</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
                <tr>
                    <th style="width: 10%">Pto. Venta</th>
                    <th style="width: 10%">Nº Comprobante</th>
                    <th>Tipo</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Pendiente</th>
                    <th>Observaciones</th>
                    <th style="width: 8%">Acciones</th>
                </tr>
            <tbody>
            {% for comprobante in pagination %}
                <tr>
                    <td>{{ comprobante.puntoVenta }}</td>
                    <td>{{ comprobante.numero }}</td>
                    <td>{{ comprobante.tipo }}</td>
                    <td>{{ comprobante.proveedor }}</td>
                    <td>{{ comprobante.fecha|date('d-m-Y') }}</td>
                    <td>{{ comprobante.total }}</td>
                    <td>{{ comprobante.pendiente }}</td>
                    <td>{{ comprobante.observaciones }}</td> 
                    <td>
                      <a href="{{ path('comprobantecompra_show', { 'id': comprobante.Id }) }}"><span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a href="{{ path('comprobantecompra_edit', { 'id': comprobante.Id }) }}"><span class="glyphicon glyphicon-edit"></span>
                      </a>
                      {% if comprobante.activo %}
                          <a href="{{ path('comprobantecompra_delete', { 'id': comprobante.Id }) }}" onclick="return confirm('¿Está Seguro?')"><span class="glyphicon glyphicon-remove-sign"></span>
                          </a>
                      {% else %}
                          <a href="{{ path('comprobantecompra_delete', { 'id': comprobante.Id }) }}"><span class="glyphicon glyphicon-ok-circle"></span>
                          </a>
                      {% endif %}
                      <a href="{{ path('ordenpago_new', { 'comprobante': comprobante.Id }) }}"><span class="glyphicon glyphicon-usd"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block paginador %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}
